.footer-content {
  background-color: $secondary;

  img {
    display: block;
    max-width:275px;
    max-height:120px;
    width: auto;
    height: auto;
  }

  .inner {
    display: table;
    margin: 0 auto;
  }

  ul {
  min-width: 696px;
	list-style: none;
	padding-top: 20px;
  }

  li {
    display: inline-block;
    padding: 55px;
  }
}

h3 {
  font-family: $font-secondary;
}

span {
  font-family: $font-secondary;
}
