.footer-content {
  background-color: $secondary;

  img {
    display: block;
    max-width:245px;
    max-height:90px;
    width: auto;
    height: auto;
  }

  .inner {
    display: table;
    margin: 0 auto;
  }

  ul {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  li {
    display: inline-block;
    padding: 85px;
  }
}

h3 {
  font-family: $font-secondary;
}

h4 {
  text-align: center;
  font-family: $font-secondary;
}
