 .about-landing {
   background: url(../img/iceburg.jpeg);
   height: 100vh;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   h3 {
     text-align: center;
     color: $primary;
   }
}

.scroll {
  height: 100vh;
  background-color: $primary;

  h4 {
    text-align: center;
  }
}

.div-3 {
  background: url(../img/aspen.jpeg);
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h4 {
    text-align: center;
    font-family: $font-primary;
    font-size: 30px;
    color: $primary;
    font-weight: bolder;
  }
}
