 .about-landing {
   background: url(../img/iceburg.jpeg);
   position: relative;
   background-size: cover;
   background-position: center top;
   min-height: 700px;
   box-sizing: border-box;
   height: 100vh;
   padding-top: 10vh;

   h3 {
     text-align: center;
     color: $primary;
   }
}
